@(
message: String

)

@main("Welcome to Play") {
    
    <p>@message</p>
  

<h1>Country</h1>

<!-- Formulaire de saisie : Countrys -->
<fieldset>
	<legend>Nouveau Pays</legend>
	<!--<form method="post" action="@routes.Countrys.add()">-->
	<form method="post" action="/country/add">
		<input name="name" placeholder="name">
		<button type="submit">Ajouter le nouveau Pays</button>
	</form>

</fieldset>

<h1>MAIL</h1>

<fieldset>
	<legend>Nouveau MAIL</legend>

	<form method="post" action="/mailing">
		<input name="dests" placeholder="dests">
		<input name="msg" placeholder="msg">
		<input name="filePath" placeholder="filePath">
		<input name="fileName" placeholder="fileName">
		<button type="submit">SEND</button>
	</form>


</fieldset>



}
